<main class="bg-primary h-100">
  <section class="d-flex justify-content-center align-items-center h-100">
    <div class="card bg-secondary text-center rounded-4 m-4">
      <div class="card-body p-5">
        <small class="card-title text-success">ADVICE #{{data?.slip?.id}}</small>
        <h5 class="card-text text-info pt-4">{{data?.slip?.advice}}</h5>
        <div class="d-flex justify-content-center overflow-hidden py-4">
          <span class="icon-divider-desktop text-info"></span>
        </div>
        <div>
          <button class="btn btn-success icon icon-dice rounded-circle fs-3 p-3" (click)="getData()">
          </button>
        </div>
      </div>
    </div>
  </section>
</main>